body {
    margin: 0;
}

.container {
    max-width: 1200px;
    padding: 15px 0px;
    margin: 0px auto;
}

.header {
    background-image: url(/public/content/img/background.png);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo {
    margin-right: 20%;
}

.buttons {
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.nav {
    margin: 0px 10px;
}

.nav-item {
    color: rgb(58, 67, 75);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin: 0px 5px;

    transition: color 0.3s linear;
}

.nav-item:hover {
    color: rgb(125, 179, 212);
}

.btns {
    display: flex;
}

.cart {
    border-left: 2px solid rgb(58, 67, 75);
    padding-left: 10px;
    height: 80px;
}

.cart-img {
    margin-bottom: 10px;
    top: 2px;
    height: 93px;
    width: 93px;
    object-fit: cover;
    border-radius: 50%;
}

.create_form {
    background-color: rgba(198, 198, 198, 0.226);
    width: 65%;
    border-radius: 20px;
    padding: 50px 0px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: relative;
}

.answer {
    display: flex;
    flex-direction: column;
}

#img_inp{
    width: 170px;
    margin-top: 10px;
}

.title {
    font-family: 'Tinos', serif;
    color: rgb(36, 48, 60);
    font-size: 20px;
}

#form,
#form-type,
#name,
#desc,
#price,
#count_mem,
#time_end,
#img,
#tag {
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#name,
#time_end {
    height: 25px;
    border: 2px solid rgb(60, 143, 226);
    font-size: 18px;
    font-family: 'Tinos', serif;
}

#form-type,
#tag,
#price,
#count_mem {
    height: 31px;
    font-size: 18px;
    font-family: 'Tinos', serif;
}

#create_service,
#create_event {
    align-items: center;
}

.form-desc {
    height: 120px;
    width: 120%;
    border: 2px solid rgb(60, 143, 226);
    max-width: 400px;
    font-family: 'Tinos', serif;
    font-size: 18px;
}

.form-name {
    height: 20px;
    border: 2px solid rgb(60, 143, 226);
}

input[type="number"] {
    width: 100px;
}

.button {
    background-color: rgb(60, 143, 226);
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px;

    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: rgb(34, 76, 118);
}

select {
    width: 150px;
    min-height: 25px;
    border: 2px solid rgb(60, 143, 226);
}

#success_info {
    width: auto;
    height: 30px;
    background-color: rgba(255, 233, 136, 0.873);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;

}

.img-choice {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    align-items: center;
}

#form-img{
    height: 256px;
    width: 256px;
    object-fit: cover;
}

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }

    .nav-item {
        padding: 10px 0px;
        font-weight: 600;
    }

    .nav {
        display: flex;
    }

    .btns {
        align-items: center;
    }

    #create_service,
    #create_event {
        flex-direction: column-reverse;
    }

    .img-choice {
        padding-left: 0px;
        padding-bottom: 15px;
    }

    .type {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .answer {
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }

    .header-logo {
        margin-right: 0%;
    }

    .btns {
        align-items: center;
    }

    .create-form {
        flex-direction: column;
        text-align: center;
    }

    .click-item {
        margin-bottom: 20px;
    }

}

@media (max-width: 767px) {
    .container {
        max-width: none;
    }

    .nav-item {
        padding: 10px 0px;
        font-size: 13px;
        font-weight: 600;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btns {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
    }

    .button {
        padding: 8px 10px;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .create-item {
        margin-right: 0px;
    }

    .create_form {
        width: 80%;
    }

    .click-item {
        margin-bottom: 5px;
    }

    .site-logo {
        width: 60px;
    }

    .cart-img {
        height: 80px;
    }

    #name{
        width: 90%;
    }


    .form-desc {
        height: 120px;
        width: 100%;
        border: 2px solid rgb(60, 143, 226);
        max-width: 300px;
        font-family: 'Tinos', serif;
        font-size: 18px;
    }
}