body {
    margin: 0;
}

.container {
    max-width: 1200px;
    padding: 15px 0px;
    margin: 0px auto;
}

.header {
    background-image: url(/public/content/img/background.png);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    margin: 0px 10px;
}

.nav-item {
    color: rgb(58, 67, 75);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin: 0px 5px;

    transition: color 0.3s linear;
}

.nav-item:hover {
    color: rgb(125, 179, 212);
}

.cart {
    border-left: 2px solid rgb(58, 67, 75);
    padding-left: 10px;
    height: 80px;
}

.cart-img {
    height: 93px;
    width: 93px;
    object-fit: cover;
    border-radius: 50%;
}

.create-item {
    margin-right: 30px;
}

.btns {
    display: flex;
    padding-left: 10%;
}

#btn-create {
    background-color: rgb(60, 143, 226);
}

#btn-refuse {
    background-color: rgb(226, 60, 60);
}

.button, .btn-delete, .btn-cancel {
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px;

    transition: background-color 0.2s linear;
}

#btn-create:hover {
    background-color: rgb(34, 76, 118);
}

.btn-cancel:hover {
    background-color: rgb(119, 119, 119);
}


#btn-refuse:hover, .btn-delete:hover {
    background-color: rgb(118, 34, 34);
}

.event-form {
    background-color: rgba(198, 198, 198, 0.226);
    width: 70%;
    height: 120px;
    border-radius: 20px;
    padding: 20px 30px 10px 30px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
}

.link {
    color: rgb(58, 67, 75);
    text-decoration: none;
    height: 100%;
}

.event-name {
    font-weight: bold;
    font-size: 25px;
}

.event-tag {
    color: rgb(34, 100, 165);
    margin-bottom: 15px;
    margin-top: 5px;
}

.event-time {
    display: flex;
}

.time {
    margin-left: 10px;
}

.click-item {
    margin-left: 10px;
}

.no-card {
    color: rgba(206, 206, 206, 0.571);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 35px;
    padding-top: 30px;
}

/*****************Модальное окно***********************/

.b-popup {
    width: 100%;
    height: 2000px;
    background-color: rgba(0, 0, 0, 0.326);
    overflow: hidden;
    position: fixed;
    top: 0px;
    font-family: 'Open Sans', sans-serif;
}

.b-popup .b-popup-content {
    margin: 20% auto;
    width: 250px;
    height: auto;
    padding: 20px 20px 10px 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}

.popup-answer {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

.btns-popup {
    display: flex;
    margin: 30px 0px 20px 0px;
    justify-content: space-evenly;
}

.btn-delete {
    background-color: rgb(226, 60, 60);
}

.btn-cancel{
    background-color: rgb(189, 189, 189);
}
/**************************************************/


@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }

    .nav-item {
        padding: 10px 0px;
        font-size: 14px;
        font-weight: 600;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }

    .btns {
        align-items: center;
    }

}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }

    .nav-item {
        padding: 10px 0px;
        font-size: 14px;
        font-weight: 600;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }

    .btns {
        align-items: center;
    }

    .event-form {
        flex-direction: column;
        height: 200px;
        text-align: center;
    }

    .event-time {
        justify-content: center;
    }

    .click-item {
        margin-bottom: 20px;
    }

    .b-popup .b-popup-content{
        margin: 30% auto;
    }

}

@media (max-width: 767px) {
    .container {
        max-width: none;
    }

    .nav-item {
        padding: 10px 0px;
        font-size: 13px;
        font-weight: 600;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btns {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
    }

    .button {
        padding: 8px 10px;
        display: flex;
        text-align: center;
    }

    .create-item {
        margin-right: 0px;
    }

    .event-form {
        height: 170px;
        font-size: 16px;
    }

    .event-name {
        font-size: 23px;
    }

    .click-item {
        margin-bottom: 5px;
    }

    .btns-popup{
        align-items: center;
    }

    .b-popup .b-popup-content{
        margin: 40% auto;
    }

    .site-logo{
        width: 60px;
    }

    .cart-img{
        height: 80px;
    }

}