body {
    margin: 0;
}

.container {
    max-width: 1200px;
    padding: 15px 0px;
    margin: 0px auto;
}

.header {
    background-image: url(/public/content/img/background.png);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    margin: 0px 10px;
}

.nav-item {
    color: rgb(58, 67, 75);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin: 0px 5px;

    transition: color 0.3s linear;
}

.nav-item:hover {
    color: rgb(125, 179, 212);
}

.cart {
    position: relative;
    border-left: 2px solid rgb(58, 67, 75);
    padding-left: 10px;
    height: 80px;
}

.cart-img {
    position: absolute;
    top: 2px;
    height: 93px;
    border-radius: 50%;
}

.create-item {
    margin-right: 30px;
}

.btns {
    display: flex;
    padding-left: 10%;
}

.button {
    background-color: rgb(60, 143, 226);
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px;

    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: rgb(34, 76, 118);
}

.service-form {
    background-color: rgba(198, 198, 198, 0.226);
    width: 65%;
    border-radius: 20px;
    padding: 50px 0px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: relative;
}

.title{
    font-family: 'Tinos', serif;
    color: rgb(36, 48, 60);
    font-size: 20px;
}

.service-text {
    position: relative;
    flex-direction: column;
    display: flex;
}

#service {
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: 'Tinos', serif;
}

.service-description {
    height: 150px;
    width: 120%;
    border: 2px solid rgb(60, 143, 226);
    font-size: 18px;
}

.service-name, .service-tag, .service-price, .service-date {
    height: 25px;
    border: 2px solid rgb(60, 143, 226);
    font-size: 18px;
}

select {
    width: 50%;
    min-height: 25px;
    border: 2px solid rgb(60, 143, 226);
}

input[type="number"]{
    width: 30%;
}

.img-block{
    display: flex;
    flex-direction: column;
    padding-left: 130px;
    align-items: center;
}

.service-img{
    height: 200px;
}

input[type="file"]{
    width: 150px;
    margin-top: 5px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
    .service-form{
        flex-direction: column-reverse;
    }

    .service-text{
        align-items: center;
    }

    .img-block{
        padding-left: 0px;
        margin-bottom: 20px;
    }
    .nav-item {
        padding: 10px 0px;
        font-size: 14px;
        font-weight: 600;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }

    .btns {
        align-items: center;
    }

    .title{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }

    .nav-item {
        padding: 10px 0px;
        font-size: 14px;
        font-weight: 600;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }

    .btns {
        align-items: center;
    }

    .service-name {
        text-align: center;
    }

    .service-time {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: none;
    }

    .header {
        padding-right: 60px;
    }

    .nav-item {
        padding: 10px 0px;
        font-size: 14px;
        font-weight: 600;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btns {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
    }

    .button {
        padding: 8px 10px;
        display: flex;
        text-align: center;
    }

    .create-item {
        margin-right: 0px;
    }

    .service-form {
        width: 70%;
    }

    .service-text {
        padding: 0px 20px;
        font-size: 17px;
    }
}