body {
    margin: 0;
}

.container {
    max-width: 1200px;
    padding: 15px 0px;
    margin: 0px auto;
}


.header {
    background-image: url(/public/content/img/background.png);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0px 15px;
}

.logo-img{
    margin: 0;
}

.registration-img{
    position: absolute;
    right: 0px;
}

.registration-form {
    background-color: rgba(198, 198, 198, 0.226);
    width: 40%;
    border-radius: 20px;
    padding: 30px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input[type='text'] 
{ 
    font-size: 17px;
    width: 90%; 
}

.question{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.button-registration {
    background-color: rgb(60, 143, 226);
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px;
    transition: background-color 0.2s linear;
}

.button-registration:hover{
    background-color: rgb(34, 76, 118);
}


.attention{
    margin-top: 10px;
    border-radius: 20px;
    background-color: rgb(255, 177, 177);
    padding: 11px 13px;
    width: 60%;
    text-align: center;
}

.attention-code{
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgb(255, 177, 177);
    padding: 9px 9px;
    width: 40%;
    text-align: center;
}

/*****************Модальное окно***********************/

.b-popup {
    width: 100%;
    height: 2000px;
    background-color: rgba(0, 0, 0, 0.326);
    overflow: hidden;
    position: fixed;
    top: 0px;
    font-family: 'Open Sans', sans-serif;
}

.b-popup .b-popup-content {
    margin: 20% auto;
    width: 270px;
    height: auto;
    padding: 20px 20px 10px 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}

.b-popup-content {
    text-align: center;
}

.popup-answer {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

.btns-popup {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
}

.click-item{
    margin: 10px 0px;
}

.btn-send {
    color: #fff;
    text-decoration: none;
    padding: 11px 15px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px;
    transition: background-color 0.2s linear;
}

.btn-send {
    background-color: rgb(60, 143, 226);
}

.btn-repeat {
    text-decoration: none;
    color: rgb(34, 76, 118);
    font-family: 'Open Sans', sans-serif;
}

.btn-repeat:hover {
    color: rgb(10, 45, 79);
}

.btn-send:hover {
    background-color: rgb(34, 76, 118);
}

@media (max-width: 1200px){
    .container{
        max-width: 970px;
    }
    .registration-form{
        width: 50%;
    }
}

@media (max-width: 992px){
    .container{
        max-width: 750px;
    }
    .registration-form{
        width: 60%;
    }
    .b-popup .b-popup-content{
        margin: 30% auto;
    }
}

@media (max-width: 767px){
    .container{
        max-width: none;
    }
    .registration-form{
        width: 60%;
    }
    .attention{
        width: 90%;
    }
    
    .btns-popup{
        align-items: center;
    }

    .b-popup .b-popup-content{
        margin: 40% auto;
    }
}