body {
    margin: 0;
}

.container {
    margin: 0px 200px;
}

.header {
    background-image: url(/public/content/img/background.png);
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.nav-item {
    color: rgb(58, 67, 75);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin-right: 25px;

    transition: color 0.3s linear;
}

.nav-item:hover{
    color: rgb(125, 179, 212);
}

.cart {
    position: relative;
    border-left: 2px solid rgb(58, 67, 75);
    padding-left: 20px;
    height: 80px;
}

.cart-img {
    position: absolute;
    top: 2px;
}

.btn {
    margin-right: 30px;
}

.btns {
    display: flex;
    padding-left: 220px;
}

.button {
    background-color: rgb(60, 143, 226);
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px;

    transition: background-color 0.2s linear;
}

.button:hover{
    background-color: rgb(34, 76, 118);
}


.header-title{
    color: rgb(36, 48, 60);
    font-family: 'Tinos', serif;
    font-size: 50px;
    font-weight: 400;
    left: 0;
    margin-top: 80px;
}

.header-subtitle{
    font-size: 70px;
}

.header-suptitle{
    color: rgb(10, 122, 234);
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

.header-suptitle:after{
    position: absolute;
    content: "";
    height: 1px;
    width: 120px;
    background-color: rgb(10, 122, 234);
    left: 530px;
    top: 345px;
}

.header-suptitle:before{
    position: absolute;
    content: "";
    height: 1px;
    width: 120px;
    background-color: rgb(10, 122, 234);
    left: 870px;
    top: 345px;
}

.header-down{
    text-align: center;
}

.type{
    height: 35px;
    width: 200px;
    font-size: 20px;
    font-family: 'Tinos', serif;
    border-radius: 10px;
    text-align: center; 
    border-color: rgb(10, 122, 234);
    border-width: 2px;
}

.choice{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cards-holder{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin-left: 25px;
}

.cards-holder a {
    text-decoration: none;
}

.card-event{
    box-shadow: 10px 10px 40px 20px #0000001A;
    width: 300px;
    border-radius: 30px;
    margin-bottom: auto;
    margin-top: 35px;
    margin-right: 30px;
    padding: 10px;
}

.card-service{
    box-shadow: 10px 10px 40px 20px #0000001A;
    width: 300px;
    border-radius: 30px;
    margin-bottom: auto;
    margin-top: 35px;
    margin-right: 30px;
    padding: 10px;
}

.card-image{
    justify-content: center;
    padding-top: 35px;
    display: flex;

}

.card-img {
    height: 256px;
    width: 256px;
}

.card-title{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Tinos', serif;
    font-size: 21px;
    font-weight: bold;
    color:rgb(34, 76, 118);
}

.card-tag{
    text-align: center;
    margin-top: 15px;
    font-family: 'Tinos', serif;
    font-size: 21px;
    font-weight: 100px;
    color: rgb(82, 82, 82);
}

.card-price {
    display: flex;
    margin-top: 15px;
    font-weight: bold;
    justify-content: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color:rgb(34, 76, 118);
}

.down-line {
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: space-around;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.card-people{
    font-size: 18px;
    color:rgb(34, 76, 118);
}

.card-time_end{
    font-size: 18px;
    color:rgb(34, 76, 118);
}