body {
    margin: 0;
}

.container {
    max-width: 1200px;
    padding: 15px 0px;
    margin: 0px auto;
}

.header {
    background-image: url(/public/content/img/background.png);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    margin: 0px 10px;
}

.nav-item {
    color: rgb(58, 67, 75);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin: 0px 5px;

    transition: color 0.3s linear;
}

.nav-item:hover{
    color: rgb(125, 179, 212);
}

.cart {
    border-left: 2px solid rgb(58, 67, 75);
    padding-left: 10px;
    height: 80px;
}

.cart-img {
    height: 93px;
    border-radius: 50%;
}

.btn {
    margin-right: 30px;
}

.btns {
    display: flex;
    padding-left: 10%;
}

.button {
    background-color: rgb(60, 143, 226);
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px;

    transition: background-color 0.2s linear;
}

.button:hover{
    background-color: rgb(34, 76, 118);
}


.header-title{
    color: rgb(36, 48, 60);
    font-family: 'Tinos', serif;
    font-size: 50px;
    font-weight: 400;
    left: 0;
    margin-top: 80px;
}

.header-subtitle{
    font-size: 70px;
}

.header-suptitle{
    color: rgb(10, 122, 234);
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 5px;
}

.suptitle-strips{
    display: flex;
    align-items: center;
    justify-content: center;
}

.strip-left{
    content: "";
    height: 1px;
    width: 120px;
    background-color: rgb(10, 122, 234);
}

.strip-right{
    content: "";
    height: 1px;
    width: 120px;
    background-color: rgb(10, 122, 234);
}

.header-down{
    text-align: center;
}

.type, .category{
    height: 35px;
    width: 200px;
    font-size: 20px;
    font-family: 'Tinos', serif;
    border-radius: 10px;
    text-align: center; 
    border-color: rgb(10, 122, 234);
    border-width: 2px;
    margin: 0px 10px;
}

.choice{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards{
    margin-bottom: 30px;
}

.cards-holder{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin-left: 25px;
}

.cards-holder a {
    text-decoration: none;
}

.card-event{
    box-shadow: 10px 10px 40px 20px #0000001A;
    width: 300px;
    border-radius: 30px;
    margin-bottom: auto;
    margin-top: 35px;
    margin-right: 30px;
    padding: 10px;
}

.card-service{
    box-shadow: 10px 10px 40px 20px #0000001A;
    width: 300px;
    border-radius: 30px;
    margin-bottom: auto;
    margin-top: 35px;
    margin-right: 30px;
    padding: 10px;
}

.card-image{
    justify-content: center;
    padding-top: 35px;
    display: flex;

}

.card-img {
    height: 256px;
    width: 256px;
}

.card-title{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Tinos', serif;
    font-size: 21px;
    font-weight: bold;
    color:rgb(34, 76, 118);
}

.card-tag{
    text-align: center;
    margin-top: 15px;
    font-family: 'Tinos', serif;
    font-size: 21px;
    font-weight: 100px;
    color: rgb(82, 82, 82);
}

.card-price {
    display: flex;
    margin-top: 15px;
    font-weight: bold;
    justify-content: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color:rgb(34, 76, 118);
}

.down-line {
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: space-around;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.card-people{
    font-size: 18px;
    color:rgb(34, 76, 118);
}

.card-time_end{
    font-size: 18px;
    color:rgb(34, 76, 118);
}


@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }

    .img-block{
        padding-left: 0px;
        margin-bottom: 20px;
    }
    .nav-item {
        padding: 10px 0px;
        font-size: 14px;
        font-weight: 600;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }

    .btns {
        align-items: center;
    }
    
    .button {
        padding: 8px 10px;
        display: flex;
        text-align: center;
    }

    .cards-holder{
        grid-template-columns: auto auto;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }

    .nav-item {
        padding: 10px 0px;
        font-size: 14px;
        font-weight: 600;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }

    .btns {
        align-items: center;
    }

    .cards-holder{
        grid-template-columns: auto;
    }


}

@media (max-width: 767px) {
    .container {
        max-width: none;
    }

    .nav-item {
        padding: 10px 0px;
        font-size: 13px;
        font-weight: 600;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .create-item {
        margin-right: 0px;
    }

    .btns {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
    }

    .button{
        padding: 8px 10px;
        display: flex;
        text-align: center;
    }

    .create-item {
        margin-right: 0px;
    }

    .site-logo{
        width: 60px;
    }

    .cart-img{
        width: 80px;
    }

    .header-title{
        font-size: 33px;
        margin-top: 80px;
    }
    
    .header-subtitle{
        font-size: 43px;
    }
    
    .header-suptitle{
        font-size: 20px;
    }
    
    .strip-left{
        width: 100px;
    }
    
    .strip-right{
        width: 100px;
    }

    .btn {
        margin-right: 0px;
    }
/*Если делать и для категорий то юзай это иначе не надо
    .type, .category{
        height: 30px;
        width: 180px;
        font-size: 17px;
    }
*/
}