body {
    margin: 0;
}

.container {
    margin: 0px 200px;
}

.header {
    background-image: url(/public/content/img/background.png);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: rgb(58, 67, 75);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin-right: 25px;

    transition: color 0.3s linear;
}

.nav-item:hover {
    color: rgb(125, 179, 212);
}


.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 10px;
    background-color: rgba(220, 220, 220, 0.515);
    padding: 50px 50px 30px 50px;
    border-radius: 15px;
}

.block_image {
    flex-direction: column;
    text-align: center;
    position: relative
}

.text_info{
    display: flex;
}

#img {
    border: 2px solid black;
    height: 256px;
    width: 256px;
    object-fit: cover;
}

.img-choice {
    padding-left: 5px;
}

#img_inp{
    width: 170px;
    margin-top: 10px;
}

.text_account {
    display: flex;
    margin-top: 10px;
}

.title_text {
    padding-right: 17px;
    font-family: 'Tinos', serif;
    font-size: 20px;
    font-weight: bold;
}



.info_text {
    font-family: 'Tinos', serif;
    font-size: 20px;
}

.input_text {
    margin-top: 20px;
}

type[text]{
    width: 200px;
}

#new_pass_repeat{
    margin-bottom: 15px;
}

.btn {
    margin-right: 30px;
}

.succec-btn {
    padding-top: 10px;
    font-size: 16px;
    display: flex;
}

.img-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    text-align: center;
}

.btns {
    display: flex;
    padding-left: 220px;
}

.button {
    background-color: rgb(60, 143, 226);
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px;

    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: rgb(34, 76, 118);
}

#bttn_edit{
    margin: 0px 10px;
}

#success_info {
    width: 70%;
    display: flex;
    height: auto;
    background-color: rgba(240, 204, 73, 0.659);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}


@media (max-width: 1300px) {
    .nav-item {
        font-size: 14px;
        font-weight: 600;
    }

    .button {
        padding: 11px 11px;
    }

    .btns {
        padding-left: 120px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }

    .img-block {
        padding-left: 0px;
        margin-bottom: 15px;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }

    .nav-item {
        font-size: 15px;
        font-weight: 600;
        margin: 10px 0px;
    }

    .btns {
        align-items: center;
        padding-left: 20px;
        padding-left: 80px;
    }

    .title {
        display: flex;
        justify-content: center;
    }

    .button {
        padding: 11px 13px;
    }

}

@media (max-width: 1120px) {
    .text_info {
        flex-direction: column;
        align-items: center;
    }


}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }

    .header-line {
        padding: 20px 0px 0px 0px;
        justify-content: center;
    }

    .nav-item {
        margin: 10px 0px;
        font-size: 14px;
        font-weight: 600;
    }

    .btns {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-left: 80px;
    }

    .btn {
        margin-bottom: 10px;
        margin-right: 0px;
    }

    .img-edit {
        margin-right: 0px;
    }

    .info{
        margin: 20px;
    }

    .title_text{
        font-size: 17px;
    }

    #bttn_edit, #bttn_back{
        font-size: 14px;
    }

    p{
        margin-block-end: 12px;
    }

    .input_text {
        margin-top: 15px;
    }

}

@media (max-width: 767px) {
    .container {
        max-width: none;
        margin: auto 20px;
    }

    .header-logo {
        margin-right: 20px;
    }

    .nav-item {
        padding: 10px 0px;
        font-size: 14px;
        font-weight: 600;
        margin: 0px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btns {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
    }

    .button {
        padding: 8px 10px;
        display: initial;
        text-align: center;
    }

    .create-item {
        margin-right: 0px;
    }

    #bttn_edit, #bttn_back{
        font-size: 16px;
    }

}
